.getstarted{
    width: 400px;
    display: flex;
    justify-content: center;
    
}
.getstarted button{
    background-color: #64a19d;
    letter-spacing: 1px;
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    box-sizing: content-box;
    }
